{% extends 'strobe/strobe_main.html' %}

{% block content %}
    </div>
    <div class="row-fluid">
        <div class="span10">
            <canvas id="canvas">
            </canvas>
        </div>
        <div class="span2">
            <table class="table table-condensed table-bordered">
                <tr>
                    <td>Red</td>
                    <td><input id="red-color" class="input-mini color" type="number" min="0" max="255" value="0"></td>
                </tr>
                <tr>
                    <td>Green</td>
                    <td><input id="green-color" class="input-mini color" type="number" min="0" max="255" value="0"></td>
                </tr>
                <tr>
                    <td>Blue</td>
                    <td><input id="blue-color" class="input-mini color" type="number" min="0" max="255" value="200"></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row-fluid">
        <table id="lineTable" class="span12 table">
            <tr class="template" style="display: none;">
                <td class="line-index"></td>
                <td class="red"></td>
                <td class="green"></td>
                <td class="blue"></td>
            </tr>
        </table>
    </div>
    <p id="height"></p>
    <p id="width"></p>
{% endblock %}

{% block styles %}
    {{ block.super }}
    <style type="text/css">
        canvas {
/*             background-color: black; */
            border: 1px solid black;
            }
    </style>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% url strobe.views.line %}"></script>
    <script>
        var width, height;
        function updateSize() {
            width = $('div.row-fluid div.span10').first().width();
            height = $(window).height() - 80;
            
            $("#height").text(height);
            $("#width").text(width);
        };
    
        var firstLine = null;
        var lastLine = null;
        function createLine(points, color) {
            lastLine = new Line(lastLine, null, points, color);
            if (firstLine == null) {
                firstLine = lastLine;
            }
        };
        
        function updateLineTable() {
            $('#lineTable').find('tr:gt(0)').remove();
        
            var line = firstLine;
            var index = 1;
            while (line != null) {
                var row = $('tr.template').clone().removeClass('template').show();
                row.find('.line-index').text(index);
                row.find('.red').text(line.color[0]);
                row.find('.green').text(line.color[1]);
                row.find('.blue').text(line.color[2]);
                $('#lineTable').append(row);
                row.data('line', line);
                
                line = line.nextLine;
                index++;
            }
        };
        
        var context;
        var color;
        function updateColor(red, green, blue) {
            color = [red, green, blue];
            context.fillStyle = 'rgb(' + red + ',' + green + ',' + blue + ')';
            context.strokeStyle = 'rgb(' + red + ',' + green + ',' + blue + ')';
        }
    
        $(document).ready(function() {
            updateSize();
            var canvas = $('#canvas');
            var rect = canvas[0].getBoundingClientRect();
            context = canvas[0].getContext('2d');
//             abc = 0;
            
            canvas[0].width = width;
            canvas[0].height = height;
            
//             context.fillStyle = 'rgb(200, 0, 0)';
//             context.fillRect(10, 10, 55, 50);
            
            var state = "none";
            
            updateColor(0, 0, 200);
            
            var points = [];
            canvas.mousedown(function(e) {
                points = [];
                state = "freedraw";
                context.beginPath();
                context.moveTo(e.offsetX, e.offsetY);
                points.push([e.offsetX, e.offsetY]);
            });
            canvas.mousemove(function(e) {
                if (state === "freedraw") {
                    var x = e.offsetX;
                    var y = e.offsetY;
                    context.lineTo(x, y);
                    points.push([x, y]);
                    context.stroke();
                }
            });
            canvas.mouseup(function(e) {
                state = "none";
                context.stroke();

                createLine(points, color);
                updateLineTable();
            });

            // change color
            $('.color').change(function() {
                var red = $('#red-color').val();
                if (!$.isNumeric(red) || Math.floor(red) != red || red < 0 || red > 255) {
                    red = 0;
                    $('#red-color').val(0);
                }
                var green = $('#green-color').val();
                if (!$.isNumeric(green) || Math.floor(green) != green || green < 0 || green > 255) {
                    green = 0;
                    $('#green-color').val(0);
                }
                var blue = $('#blue-color').val();
                if (!$.isNumeric(blue) || Math.floor(blue) != blue || blue < 0 || blue > 255) {
                    blue = 0;
                    $('#blue-color').val(0);
                }
                
                updateColor(red, green, blue);
            });

        });
        $(window).resize(updateSize);
    </script>
{% endblock %}