{% extends 'strobe/strobe_main.html' %}

{% block content %}
    </div>
    <div class="row-fluid">
        <div class="span12">
            <canvas id="canvas">
            </canvas>
        </div>
    </div>
    <p id="height"></p>
    <p id="width"></p>
{% endblock %}

{% block styles %}
    {{ block.super }}
    <style type="text/css">
        canvas {
/*             background-color: black; */
            border: 1px solid black;
            }
    </style>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% url strobe.views.line %}"></script>
    <script>
        var width, height;
        function updateSize() {
            width = $('.row-fluid').first().width();
            height = $(window).height() - 80;
            
            $("#height").text(height);
            $("#width").text(width);
        }
    
        $(document).ready(function() {
            updateSize();
            var canvas = $('#canvas');
            var rect = canvas[0].getBoundingClientRect();
            context = canvas[0].getContext('2d');
//             abc = 0;
            
            canvas[0].width = width;
            canvas[0].height = height;
            
//             context.fillStyle = 'rgb(200, 0, 0)';
//             context.fillRect(10, 10, 55, 50);
            
            var state = "none";
            
            context.strokeStyle = 'rgb(0, 0, 200)';
            var points = [];
            canvas.mousedown(function(e) {
                points = [];
                state = "freedraw";
                context.beginPath();
                context.moveTo(e.offsetX, e.offsetY);
                points.push([e.offsetX, e.offsetY]);
            });
            canvas.mousemove(function(e) {
                if (state === "freedraw") {
                    var x = e.offsetX;
                    var y = e.offsetY;
                    context.lineTo(x, y);
                    points.push([x, y]);
                    console.log(points);
                    context.stroke();
                }
            });
            canvas.mouseup(function(e) {
                state = "none";
                context.stroke();

                line = new Line(null, null, points);
                p = points;
            });
            
        });
        $(window).resize(updateSize);
    </script>
{% endblock %}